.graph {
    float:inline-start;
    width: 1300px;
    height: 600px;
    padding: 20px;
    width: 70%;
}

section{
    padding: 7px 7px 7px 7px;
    content: "";
    clear: both;
  }

.sidenav {
    float:inline-end;
    
}